.container {
  display: flex;
  align-items: flex-end;

  .content,
  .contentLeft {
    position: relative;
    right: -40px;
    z-index: 1;

    background: var(--black-50);

    padding: 4rem 3.5rem 2.5rem 2.6rem;

    margin-bottom: 2rem;

    h3 {
      font-size: 3.5rem;
      font-weight: 400;
      font-style: italic;

      color: var(--yellow-100);
    }

    p {
      margin-top: 2.6rem;

      color: var(--white-100);
      font-size: 2rem;

      font-weight: 700;
    }

    .link {
      display: flex;
      align-items: flex-end;
      gap: 1rem;

      img {
        margin-bottom: 10px;
      }

      a {
        display: inline-block;
        margin-top: 3rem;

        font-size: 1.125rem;

        color: var(--yellow-100);

        &:hover {
          filter: brightness(0.7);
        }
      }
    }
  }

  .contentLeft {
    right: 40px;
  }
}
