.youtubeSection {
  margin-top: 11.125rem;

  background: var(--brown-50);

  height: 587px;

  .youtubePlayer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: -70px;
  }
}
