.branding {
  margin-top: 11.375rem;

  p {
    font-size: 1.125rem;

    margin: 4rem auto 0 auto;

    text-align: center;
  }

  .separator {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2.3rem;
  }

  .activeCards {
    margin-top: 12rem;

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.25rem;

    .card {
      height: 100%;
      transition: all 0.5s;

      &:nth-child(1) {
        position: relative;
        left: 0;
        top: -60px;

        transform: rotate(0);
      }

      &:nth-child(2) {
        position: relative;
        top: -126px;
        z-index: 2;
      }

      &:nth-child(3) {
        position: relative;
        right: 0;
        top: -60px;

        transform: rotate(0);
      }

      button img,
      a img {
        width: 294.93px;
        height: 472.36px;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      button,
      a {
        margin: 0;
        padding: 0;

        border: none;

        background: none;
      }
    }
  }

  .disabledCards {
    margin-top: 12rem;

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.25rem;

    .card {
      transition: all 0.5s;

      &:nth-child(1) {
        position: relative;
        left: 60px;
        top: -60px;

        transform: rotate(-14.52deg);
      }

      &:nth-child(2) {
        position: relative;
        top: -126px;
        z-index: 2;
      }

      &:nth-child(3) {
        position: relative;
        right: 60px;
        top: -60px;

        transform: rotate(14.52deg);
      }

      button img,
      a img {
        width: 294.93px;
        height: 472.36px;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      button,
      a {
        margin: 0;
        padding: 0;

        border: none;

        background: none;
      }
    }
  }

  a {
    margin: 0 auto;
  }
}
